.header {
    & > img {
        margin-right: 20px;
    }

    & > div > div {
        margin-bottom: 10px;

        img {
            margin-right: 10px;
        }

        p-chip {
            margin: 0 10px 5px 0;
        }
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}