.header {
    & > img {
        margin-right: 20px;
    }

    & > div > div {
        margin-bottom: 10px;

        img {
            margin-right: 10px;
        }

        p-chip {
            margin: 0 10px 5px 0;
        }
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

.btn-delete {
    margin-right: 30px;
}

:host::ng-deep {
    .p-tabview .p-tabview-panels {
        height: calc(100vh - 250px - 50px - 29px);
        overflow-y: auto;
    }
}