.add.pi {
    font-size: 2.5rem !important;
}

.account-items {
    margin-bottom: 20px;
}

.company-member {
    padding: 20px;
    width: 500px !important;
    background-color: var(--primary-50);
    border: 1px solid var(--primary-700);
    border-radius: 6px;
    margin-bottom: 20px;

    .icon {
        width: 70px;
        height: 70px;
        border: 1px solid var(--primary-700);
        border-radius: 50%;
        margin-right: 20px;
    }
}

.company-member:last-child {
    margin-bottom: 0;
}

form {
    color: var(--primary-700);
    
    padding: 20px 0;
    & > div {
        margin-bottom: 10px;

        & > div {
            width: 48%;
        }
    }

    .role {
        padding: 30px 20px;
        border: 1px solid var(--gray-500);
        background-color: var(--gray-100);
        border-radius: 6px;
        font-weight: 700;
        color: var(--gray-700);

        p-radioButton{
            margin-right: 10px;
        }
    }

    .role-active {
        border-color: var(--primary-700);
        background-color: var(--primary-100);
        color: var(--primary-700);
    }

    & > div:last-child {
        margin-bottom: 0;
    }
}

.custom-dialog { 
    p-button:first-child {
        margin-right: 20px;
    }
}