.jobs {
    padding: 30px;
    overflow-y: auto;
    height: calc(100vh - 50px - 101px - 29px);
}

.c-avt {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--primary-700);
    margin: 0 10px 10px 0;
}

.company-job {
    background-color: var(--primary-50);
    padding: 20px;
    border: 1px solid var(--primary-500);
    border-radius: 5px;
    margin-bottom: 20px;

    & > div {
        & > div,
        & > h4,
        & > span {
            margin-bottom: 5px;
        }

        & > div:last-child {
            margin-bottom: 0;

            p-chip {
                margin: 0 10px 5px 0;
            }
        }
    }
}

.company-job:last-child {
    margin-bottom: 0;
}

.company-job-expiry {
    background-color: var(--gray-50);
    border: 1px solid var(--gray-500);

    h3,
    h4,
    span,
    i.pi {
        color: var(--gray-800);
    }
}

.company-job-expiry .p-chip {
    background-color: var(--gray-300) !important;
    // color: var(--primary-700) !important;
}