<div class="user-job-applicant">
    <div class="flex justify-content-between w-full" *ngFor="let u of users">
        <div class="flex flex-column" style="width: 78%;">
            <div class="flex align-items-center cursor-pointer"
                (click)="openPoup(u.id)">
                <div class="icon flex justify-content-center align-items-center"
                    [ngClass]="u.avatar?'' : 'icon-bg'">
                    <span *ngIf="!u.avatar">QP</span>
                    <img *ngIf="u.avatar" src="../../../../../assets/images/TopWork-logo.png" alt="">
                </div>
                <div>
                    <h4>{{ u.fullName }}</h4>
                    <p style="margin-bottom: 0;">{{ u.position }}</p>
                </div>
            </div>
    
            <p>{{ 'Year experience : ' + u.yearExperience}}</p>
            <div class="flex flex-wrap">
                <p-chip *ngFor="let item of u.skills">{{ item.name }}</p-chip>
                <p-chip *ngFor="let item of u.languages">{{ item.name }}</p-chip>
            </div>
        </div>
    </div>
</div>

<p-paginator [rows]="paging.pageSize" [first]="first" [totalRecords]="totalElements"
    (onPageChange)="onPageChange($event)" *ngIf="totalElements > paging.pageSize">
</p-paginator>

<p-dialog [(visible)]="showUserDetail" [draggable]="false" class="user-detail-popup" 
    [showHeader]="false">
    <i class="lose-popup pi pi-times-circle cursor-pointer" (click)="showUserDetail = false"></i>
    <app-user-info *ngIf="showUserDetail" [userId]="userId"></app-user-info>
</p-dialog>