<div class="user-job-applicants">
    <div *ngFor="let u of users" class="w-full">
        <div class="time" [ngClass]="(u.jobStatus == appConstant.JOB_STATUS.REJECTED) ? 'time-reject' : ''">
            <span class="font-size-13" [ngClass]="(u.jobStatus == appConstant.JOB_STATUS.REJECTED) ? 'text-reject' : ''"
                [innerHTML]="parseLabelDate(u)">
            </span>
        </div>
        <div class="flex flex column justify-content-between w-full user-job-applicant-item">
            <div class="flex flex-column w-full">
                <div class="justify-content-between flex align-items-center">
                    <div class="flex align-items-center cursor-pointer" 
                        (click)="openPoup(u)" style="margin-bottom: 10px;">
                        <img *ngIf="u.avatar" [src]="u?.avatar" class="icon">
                        <div class="icon">
                            <img *ngIf="!u.avatar" src="../../../../../assets/images/TopWork-logo.png" width="100%">
                        </div>
                        <div>
                            <h4>{{ u.lastName + ' ' + u.firstName }}</h4>
                            <p style="margin-bottom: 0;">{{ u.position }}</p>
                        </div>
                    </div>

                    <p-button [label]="'button.reject' | translate" *ngIf="u.jobStatus !== appConstant.JOB_STATUS.REJECTED"
                        (onClick)="parseLabelRejectCandidate(u.lastName, u.firstName, u.id)"></p-button>
                </div>
        
                <div style="margin-bottom: 10px;" class="flex align-items-center">
                    <span style="margin-right: 10px;" class="font-size-13">
                        {{ 'label.year_experience' | translate }}:
                    </span>
                    <p class="font-size-13">{{ parseYearExperience(u.yearExperience) }}</p>
                </div>
                <div class="flex flex-wrap">
                    <p-chip *ngFor="let item of u.skills">{{ item.name }}</p-chip>
                    <p-chip *ngFor="let item of u.languages">{{ item.name }}</p-chip>
                </div>
            </div>
        </div>
    </div>
</div>

<p-paginator *ngIf="totalElements > paging.pageSize" (onPageChange)="onReload.emit($event)" 
    [rows]="paging.pageSize" [totalRecords]="totalElements" [first]="first"></p-paginator>

<p-dialog [(visible)]="showUserDetail" [draggable]="false" class="user-detail-popup" 
    [showHeader]="false">
    <i class="lose-popup pi pi-times-circle cursor-pointer" (click)="showUserDetail = false"></i>
    <app-user-info *ngIf="showUserDetail" [userId]="userId"></app-user-info>
</p-dialog>

<p-dialog class="custom-dialog" [(visible)]="isRejectCandiate" 
    (onHide)="isRejectCandiate = false; message = ''" [draggable]="false"
    [header]="'label.confirm_reject_candidate' | translate">
    <div style="padding-top: 30px; margin-bottom: 30px;" class="flex justify-content-center">
        <p>{{ message }}</p>
    </div>

    <div class="flex justify-content-center align-items-center btn">
        <p-button class="submit" [label]="'button.reject' | translate"
            (onClick)="onReject()"></p-button>
        <p-button [label]="'button.cancel' | translate"
            [ngClass]="'btn-delete'" (onClick)="isRejectCandiate = false; message = ''">
        </p-button>
    </div>
</p-dialog>