.icon {
    width: 70px;
    height: 70px;
    border: 1px solid var(--primary-700);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon-bg {
    background-color: var(--primary-600);
}

.lose-popup {
    position: fixed;
    top: 20px;
    right: 35px;
}

.lose-popup.pi {
    font-size: 2rem;
    color: var(--primary-600);
}

.user-job-applicants {
    .time {
        padding: 15px 20px 16px;
        margin-bottom: -4px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border: 1px solid var(--primary-200);
        background-color: var(--primary-100);
    }

    .time-reject {
        border: 1px solid var(--red-200);
        background-color: var(--red-100);
    }

    .text-reject {
        color: var(--red-500) !important;
    }

    & .user-job-applicant-item > div {
        border: 1px solid var(--primary-600);
        background-color: var(--primary-50);
        padding: 20px;
        border-radius: 7px;
        margin-bottom: 10px;

        & > div:last-child {
            margin-bottom: 0;

            p-chip {
                margin-right: 10px;
                margin-bottom: 5px;
            }
        }
    }
}

.submit {
    margin-right: 20px;
}

.user-detail-popup .p-dialog-mask {
    background-color: rgba(69, 97, 97, 0.7) !important;
}

:host::ng-deep {
    & .user-job-applicant-item-reject > div {
        border: 1px solid var(--red-500) !important;
        background-color: var(--red-50);

        .icon {
            border: 1px solid var(--red-500);
        }

        h4, p, span {
            color: var(--red-500) !important;
        }

        & > div:last-child .p-chip {
            border: 1px solid var(--red-500) !important;
            background-color: var(--red-50) !important;
            color: var(--red-500) !important;
        }
    }
}